body {
    background-color: #E7CFCD;
    font-family: 'Times New Roman', Times, serif;
  }
  h1 {
    color: #443627;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    color: #725E54;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
